*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins, sans-serif;
}

html, body{
    width:100%;
    height:100%;
    background:black;
    overflow:hidden;
    color:white;
}

/* ROTATE WARNING */
.rotate-warning{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:black;
    color:white;
    justify-content:center;
    align-items:center;
    text-align:center;
    z-index:9999;
    padding:20px;
    font-size:20px;
}

/* Kalau portrait */
@media screen and (orientation: portrait){
    .rotate-warning{
        display:flex;
    }

    .opening,
    .slideshow{
        display:none;
    }
}

/* OPENING */
.opening{
    position:fixed;
    width:100%;
    height:100dvh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:black;
}

.opening-box h1{
    font-size:60px;
}

.opening-box button{
    padding:10px 25px;
    border:none;
    background:white;
    color:black;
    cursor:pointer;
    border-radius:20px;
}

/* SLIDESHOW */
.slideshow{
    display:none;
    position:fixed;
    width:100%;
    height:100dvh;
    top:0;
    left:0;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover; /* full layar */
    object-position:center;
    opacity:0;
    transition:opacity 1.5s ease-in-out;
}

.slide.active{
    opacity:1;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}
