*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:black;
    overflow:hidden;
    color:white;
}

.opening{
    position:fixed;
    width:100%;
    height:100vh;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.opening-box h1{
    font-size:60px;
    letter-spacing:5px;
}

.opening-box h2{
    font-size:25px;
    margin:10px 0;
    opacity:0.8;
}

.opening-box p{
    margin-bottom:20px;
    opacity:0.6;
}

.opening-box button{
    padding:12px 30px;
    font-size:18px;
    border:none;
    cursor:pointer;
    background:white;
    color:black;
    border-radius:30px;
    transition:0.3s;
}

.opening-box button:hover{
    background:gray;
}

.slideshow{
    display:none;
    position:relative;
    width:100%;
    height:100vh;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition:opacity 1.5s ease-in-out;
}

.slide.active{
    opacity:1;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:1;
}
